:root {
  /* Cord CSS Variables */
  /* Generic dark mode */
  --cord-color-base: #121314;
  --cord-color-base-strong: #696a6c;
  --cord-color-base-x-strong: #97979f;
  --cord-color-content-primary: #f6f6f6;
  --cord-color-content-emphasis: #ffffff;
  --cord-color-brand-primary: #ffffff;

  /* Tweaks */
  --cord-avatar-border-radius: 100%;
  --cord-border-radius-medium: 8px;
  --cord-facepile-avatar-size: 40px;
  --cord-facepile-background-color: #fff;
  --cord-color-focus: #696a6c;
  --cord-color-notification: #7371ee;
  --cord-composer-border-radius: 4px;
  --cord-composer-border: 1px solid #ebe9ff;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100%;
}

cord-presence-observer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Below CSS is for highlighting cord components  */
.highlight-cord-components {
  box-shadow: 0px 0px 0px 5px #ffd400;
  border-radius: 4px;
}

.inset-highlight-cord-components {
  box-shadow: inset 0px 0px 0px 5px #ffd400;
  padding: 5px;
}

.highlight-text,
.highlight-text:active {
  background: #ffd400;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  text-decoration: none;
  color: var(--cord-color-base);
}

#cord-thread-label.highlight-text {
  top: -20px;
  left: 0;
  margin: 0 auto;
  right: 0;
  text-align: center;
  width: 120px;
}

#cord-presence-facepile-label.highlight-text {
  bottom: -36px;
  right: -4px;
  z-index: 1;
}

#cord-presence-observer-label.highlight-text {
  bottom: 10px;
  left: 10px;
}

#cord-thread-label.hidden,
#cord-presence-facepile-label.hidden,
#cord-presence-observer-label.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  #cord-thread-label.highlight-text,
  #cord-presence-facepile-label.highlight-text {
    display: none;
  }
}
