header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px;
  position: relative;
}

header img {
  height: 48px;
  object-fit: contain;
}

.presence-facepile-container {
  margin-left: auto;
  position: relative;
  height: 48px;
}

cord-presence-facepile {
  display: inline-block;
}

cord-presence-facepile .cord-facepile {
  height: 48px;
}
cord-presence-facepile .cord-avatar-container {
  height: inherit;
  width: 48px;
}

cord-presence-facepile .cord-avatar-fallback {
  font-size: 24px;
}

button {
  background-color: var(--cord-color-content-primary);
  border-radius: 4px;
  border: 1px solid var(--cord-color-content-primary);
  color: var(--cord-color-base-strong);
  font-size: 16px;
  height: 100%;
  padding: 4px;
  width: 160px;
}

button:hover {
  border: 1px solid var(--cord-color-base-strong);
  cursor: pointer;
}
